<!doctype html>
<html>
<head>
    <{include file='inc/head.html'}>
</head>
<body data-type="index">
<{include file='inc/top.html'}>
<div class="tpl-page-container tpl-page-header-fixed">

    <!-- <{assign var="module" value="my"}> -->
    <{include file='inc/left.html'}>
    <!--头部结束-->


    <div class="tpl-content-wrapper">
        <{include file='inc/crumb.html'}>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> <{$crumb['title']}>列表
                </div>


            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a href="/admin/manager/user" class="am-btn am-btn-default am-btn-success"><span
                                        class="am-icon-plus"></span> 新增</a>
                                <!-- <a href="" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</a>
                                <a href="" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</a>
                                <a href="/admin/manager/user" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</a> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select data-am-selected="{btnSize: 'sm'}">
                              <option value="option1">所有类别</option>
                              <option value="option2">IT业界</option>
                              <option value="option3">数码产品</option>
                              <option value="option3">笔记本电脑</option>
                              <option value="option3">平板电脑</option>
                              <option value="option3">只能手机</option>
                              <option value="option3">超极本</option>
                          </select>
                      </div>
                  </div> -->
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                                            type="button"></button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">帐号</th>
                                    <th class="table-type">用户组</th>
                                    <th class="table-author am-hide-sm-only">用户状态</th>
                                    <th class="table-date am-hide-sm-only">修改日期</th>
                                    <th class="table-date am-hide-sm-only">最后登录时间</th>
                                    <th class="table-date am-hide-sm-only">最后登录IP</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <{foreach from=$list item=item}>
                                <tr>
                                    <td><input data-id="<{$item.id}>" type="checkbox"></td>
                                    <td><{$item.id}></td>
                                    <td><{$item.username}></td>
                                    <td><{$group[$item.ugroup]['name']}></td>
                                    <td><{if $item.status == 1}>已禁用<{else}>正常<{/if}></td>
                                    <td><{if $item.update_time == '0000-00-00
                                        00:00:00'}>-<{else}><{$item.update_time}><{/if}>
                                    </td>
                                    <td><{if $item.login_time == '0000-00-00
                                        00:00:00'}>-<{else}><{$item.login_time}><{/if}>
                                    </td>
                                    <td><{$item.login_ip}></td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <a href="/admin/manager/user?id=<{$item.id}>"
                                                   class="am-btn am-btn-secondary am-btn-xs "><span
                                                        class="am-icon-pencil-square-o"></span> 编辑</a>
                                                <{if $item.id > 1}>
                                                <a data-ajax="Manager_User_Del" data-id="<{$item.id}>" href="javascript:void(0);" class="am-btn am-btn-danger  am-btn-xs  am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</a>

                                                <{/if}>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <{/foreach}>
                                </tbody>
                            </table>
                            <!--  <div class="am-cf">

                                 <div class="am-fr">
                                     <ul class="am-pagination tpl-pagination">
                                         <li class="am-disabled"><a href="#">«</a></li>
                                         <li class="am-active"><a href="#">1</a></li>
                                         <li><a href="#">2</a></li>
                                         <li><a href="#">3</a></li>
                                         <li><a href="#">4</a></li>
                                         <li><a href="#">5</a></li>
                                         <li><a href="#">»</a></li>
                                     </ul>
                                 </div>
                             </div> -->
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>


    </div>


</div>
<{include file='inc/footer.html'}>
</body>
</html>