<div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                DOUDE 列表
            </div>
            <div class="tpl-left-nav-list" id="wrapper">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/admin/admin/admin" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>服务器相关</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/server/list?type=1">
                                    <i class="am-icon-angle-right"></i>
                                    <span>游戏服务器</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/server/list?type=2">
                                    <i class="am-icon-angle-right"></i>
                                    <span>代理服务器</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/server/list?type=3">
                                    <i class="am-icon-angle-right"></i>
                                    <span>游戏金币设置</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>用户管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/user/index?type=1">
                                    <i class="am-icon-angle-right"></i>
                                    <span>游客</span>
                                </a>
								<a href="/admin/user/index?type=2">
                                    <i class="am-icon-angle-right"></i>
                                    <span>已绑手机号</span>
                                </a>
                                <a href="/admin/user/index?type=3">
                                    <i class="am-icon-angle-right"></i>
                                    <span>已绑邀请码</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>代理商管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/user/index?type=4">
                                    <i class="am-icon-angle-right"></i>
                                    <span>代理商</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/user/AllUserTree">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户树总览</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>游戏管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/Admin/goods/select">
                                    <i class="am-icon-angle-right"></i>
                                    <span>游戏列表</span>
                                </a>
								<a href="/Admin/goods/add">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加游戏</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>商品管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/game/select">
                                    <i class="am-icon-angle-right"></i>
                                    <span>商品列表</span>
                                </a>
                                <a href="/admin/game/add">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加商品</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>财务管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/pay/select/?page=1">
                                    <i class="am-icon-angle-right"></i>
                                    <span>提现审核</span>
                                </a>
								<a href="/admin/tix/select">
                                    <i class="am-icon-angle-right"></i>
                                    <span>入帐详单</span>
                                </a>
								<a href="/admin/fund/charge">
                                    <i class="am-icon-angle-right"></i>
                                    <span>资金变动清单</span>
                                </a>
                                <a href="/admin/fund/GoldsList">
                                    <i class="am-icon-angle-right"></i>
                                    <span>金币发放记录</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>代理商配置</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/settings/Level">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户贡献值</span>
                                </a>
								<a href="/admin/settings/welfare">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户福利</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>广告管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
								<a href="/admin/advert/select">
                                    <i class="am-icon-angle-right"></i>
                                    <span>广告列表</span>
                                </a>
                                <a href="/admin/advert/add">
                                    <i class="am-icon-angle-right"></i>
                                    <span>广告添加</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>管理员和权限</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/manager/userlist">
                                    <i class="am-icon-angle-right"></i>
                                    <span>管理员列表</span>
                                </a>
                                <a href="/admin/manager/grouplist">
                                    <i class="am-icon-angle-right"></i>
                                    <span>管理组列表</span>
                                </a>
                                <a href="/admin/manager/rolelist">
                                    <i class="am-icon-angle-right"></i>
                                    <span>权限列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<!-- <li class="tpl-left-nav-item"> -->
						<!-- <a href="javascript:;" class="nav-link tpl-left-nav-link-list"> -->
                            <!-- <i class="am-icon-table"></i> -->
                            <!-- <span>系统设置</span> -->
                            <!-- <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i> -->
                        <!-- </a> -->
                        <!-- <ul class="tpl-left-nav-sub-menu"> -->
                            <!-- <li> -->
                                <!-- <a href="form-amazeui.html"> -->
                                    <!-- <i class="am-icon-angle-right"></i> -->
                                    <!-- <span>网站设置</span> -->
                                <!-- </a> -->
								<!-- <a href="form-amazeui.html"> -->
                                    <!-- <i class="am-icon-angle-right"></i> -->
                                    <!-- <span>添加管理员</span> -->
                                <!-- </a> -->
                            <!-- </li> -->
                        <!-- </ul> -->
                    <!-- </li> -->
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>日志管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/logs/index?type=1">
                                    <i class="am-icon-angle-right"></i>
                                    <span>登陆日志</span>
                                </a>
								<a href="/admin/logs/index?type=2">
                                    <i class="am-icon-angle-right"></i>
                                    <span>操作日志</span>
                                </a>
                            </li>
                        </ul>
                    </li>
					<li class="tpl-left-nav-item">
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>公司管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/personnel/index?type=1">
                                    <i class="am-icon-angle-right"></i>
                                    <span>员工管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="tpl-left-nav-item">
                        <a href="chart.html" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>数据表</span>
                            <i class="tpl-left-nav-content tpl-badge-danger">
               12
             </i>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>表格</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="table-font-list.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>文字表格</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                <a href="table-images-list.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>图片表格</span>
                                    <i class="tpl-left-nav-content tpl-badge-success">
               18
             </i>

                                    <a href="form-news.html">
                                        <i class="am-icon-angle-right"></i>
                                        <span>消息列表</span>
                                        <i class="tpl-left-nav-content tpl-badge-primary">
               5
             </i>


                                        <a href="form-news-list.html">
                                            <i class="am-icon-angle-right"></i>
                                            <span>文字列表</span>

                                        </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-wpforms"></i>
                            <span>表单</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="form-amazeui.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>Amaze UI 表单</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>

                                <a href="form-line.html">
                                    <i class="am-icon-angle-right"></i>
                                    <span>线条表单</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="login.html" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>登录</span>

                        </a>
                    </li> -->

                    <!-- <script>
          $(document).ready(function(){
              $("#wrapper .nav-link").click(function(){
                $('.tpl-left-nav-sub-menu').hide();
                $(this).siblings('.tpl-left-nav-sub-menu').show();
              });
          });

      </script> -->
                </ul>
            </div>
        </div>
