<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="/admin/admin/admin" class="tpl-logo"><{if $smarty.server.SERVER_ENV eq
            'development'}>测试环境<{else}>bb<{/if}>后台</a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="quicksearch">
                <input type="text" id="usercode" name="user" placeholder="输入用户uid/openid/ 手机号" value="">
                <input type="button" value="查询" class="am-btn am-btn-success"
                       onclick="javascript:window.location.href='/admin/user/searchuser?code='+$('#usercode').val();">
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick"><{$smarty.cookies.username}></span>
                </a>
                <!-- <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-bell-o"></span>个人资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span>管理中心</a></li>
                </ul> -->
            </li>
            <li><a href="/admin/login/outin" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>
