<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bb后台</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="<{$smarty.const.STATIC_PATH}>/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="<{$smarty.const.STATIC_PATH}>/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="<{$smarty.const.STATIC_PATH}>/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="<{$smarty.const.STATIC_PATH}>/assets/css/admin.css">
    <link rel="stylesheet" href="<{$smarty.const.STATIC_PATH}>/assets/css/app.css">
</head>

<body data-type="login">


  <div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                <{if $smarty.server.SERVER_ENV eq 'development'}>测试环境<{else}>bb<{/if}> <i class="am-icon-skyatlas"></i> 管理平台

            </div>
        </div>

        <div class="login-font">
            <i>登录到</i><span>后台系统</span>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" class="username" id="doc-ipt-email-1" placeholder="输入用户名">
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="password" id="doc-ipt-pwd-1" placeholder="设置个密码吧">
                    </div>
                    <p><button type="button" id="submit" class="am-btn am-btn-default">登录</button></p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
    <script src="<{$smarty.const.STATIC_PATH}>/assets/js/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#submit").click(function(){
                $.ajax({
                        url: "/admin/login/login" ,
                        type: "post",
                        dataType: "json",
                        data:{username:$('.username').val(),password:$('.password').val(),},
                        async: false,
                        success: function(json){
                            // console.log(json);
                            if (json.status == 1) {
                                window.location.href='/admin/admin/admin';
                            }else{
                            alert(json.msg);
                        }
                        },
                        error: function(){
                            console.log( "AJAX fail");
                        }
                       });
            });
        });
    </script>
</body>

</html>
